@import './Variables';

/* -------------------------------------------------------------------------- */
/*                                 TYPOGRAPHY                                 */
/* -------------------------------------------------------------------------- */

html,
:root {
	font-size: 16px;
	box-sizing: border-box;
	@include body-font-family;
}

h1,
.h1 {
	font-size: 3.125rem;
	@include heading-text;
	margin: 0;
}

h2,
.h2 {
	font-size: 2.25rem;
	@include heading-text;
	margin: 0;
}

h3,
.h3 {
	font-size: 1.625rem;
	@include heading-text;
	margin: 0;
}

h4,
.h4 {
	@include body-font-family;
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	line-height: 115%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: $black;
	margin: 0;
}

a,
p,
span {
	@include body-font-family;
	font-style: normal;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 125%;
	color: $black;
}

p {
	margin: 0;
}

a {
	cursor: pointer;

	&:not(.text-link) {
		text-decoration: none;
	}
}

code {
	display: inline-block;
	background-color: $gloss;
	border-radius: .5rem;
	padding: .5rem;
}

.text-link {
	@include mono-font-family;
	color: $stormysea;
	text-decoration: underline;
}

.text--inverse {
	color: $white;
}

.text--title,
h1.text--title {
	font-size: 4.5rem;
}

.text--left {
	text-align: left;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */

.button {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: .75rem 1.25rem;
	background-color: $teal;
	border: 1px solid $stormysea;
	border-radius: .5rem;
	font-size: 1.125rem;
	text-transform: uppercase;
	color: $white;
	cursor: pointer;

	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;

	&.button--small {
		padding: .5rem .75rem;
		font-size: 1rem;
	}

	&:hover {
		background-color: $stormysea;
	}
}

.nav-item {
	padding: .5rem .75rem;
	line-height: 1.25em;
	display: inline-flex;
	background-color: $white;
	border-radius: .5rem;
	border: 1px solid $white;

	&:hover {
		background-color: $gloss;
		border-color: $gloss;
	}
}


/* -------------------------------------------------------------------------- */
/*                                REGION CARDS                                */
/* -------------------------------------------------------------------------- */

.region-card {
	position: relative;
}

.region-card-title {
	background-color: rgba($white, .82);
	padding: 1rem .75rem;
	width: 100%;
	display: inline-flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                BUY THE BOOK                                */
/* -------------------------------------------------------------------------- */

.buy-the-book-section {
	background-color: $daisy;
	padding-top: 2rem;
}

.buy-the-book-desc {
	padding: 4rem 0;
	min-height: 40vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
    align-items: start;
}

.buy-the-book-img {
	background-position: top center;
	background-size: 100% auto;
	background-image: url("./resources/book-mockup.png");
	width: 100%;
	height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               SECTIONOGRAPHY                               */
/* -------------------------------------------------------------------------- */

.main {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
}

img {
	width: 100%;
}

.container {
	padding: 0 1rem;
	max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.section {
	padding: 6rem 0 3rem;
	margin-top: -3rem;
}

.App {
	text-align: left;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	width: 100vw;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	justify-content: center;
	align-items: center;
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.grid-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2rem;
	justify-content: center;
	align-items: start;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-1-5 {
	margin-bottom: 1.5rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mb-4 {
	margin-bottom: 4rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.mb-6 {
	margin-bottom: 6rem;
}

.max-w-md {
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}